

body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 250px;
    background: #343a40;
    color: #fff;
    height: 100vh;
    position: fixed;
    padding: 20px 0;
}

.sidebar-header {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-header img {
    width: 100px;
    border-radius: 50%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 20px;
    text-align: left;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background: #495057;
    color: #fff;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.logout-btn {
    background: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
}

.card {
    padding: 20px;
    border-radius: 5px;
    flex: 1;
    min-width: 100px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card a {
    color: #141111;
    text-decoration: none;
    text-shadow: #343a40;
    font-size: 20px;
    position: center;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    background-color: #fafafa;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header h3 a {
    display: flex;
    align-items: center;
}

.card-header h3 a i {
    margin-right: 10px;
}

.notice-board {
    margin-top: 200px;
    padding: 30px;
    background: #faecbe;
    border-radius: -5px;
    box-shadow: 6px 8px 4px rgba(0, 0, 0, 0.1);;
}
.notice-board h2 {
    margin-top: 0;
    text-align: center;
}

