/* styles.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


h2 {
    color:#080000;
}

/* Form Container */
form {
    background-color: #f3f8f16b;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-left: -430px;
}

/* Input Field */
input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Submit Button */
button[type="submit"] {
    background-color: #ec2119e0;
    color: #f6fcf6;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

button[type="submit"]:hover {
    background-color: #f75f07ef;
}
