<!-- admin_dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin Dashboard{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin_dashstyles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <img src="{% static 'images/admin-icn.png' %}" alt="Admin_Icon" style="vertical-align: middle;">
            <h2>Admin HMS</h2>
        </div>
        <ul>
            <li><a href=""><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
            <li><a href="{% url 'incharge_details' %}"><i class="fas fa-user-shield"></i> Hostel Incharge</a></li>
            <li><a href="{% url 'hosteller_details' %}"><i class="fas fa-users"></i> Hosteller</a></li>
            <li><a href="{% url 'notice_list' %}"><i class="fas fa-sticky-note"></i> Notice</a></li>
            <li><a href="{% url 'admin_logout' %}"><i class="fa fa-power-off"></i>Sign Out</a></li> 
        </ul>
    </div>
    <div class="main-content">
        <header>
            <h1>HMS - Admin Panel</h1>
            <a href="{% url 'admin_logout' %}" class="logout-btn">Logout</a>
            
        </header>
        <div class="cards">
            <div class="card" style="background-color: #1abc9c;">
                <div class="card-header">
                    <h3><a href="{% url 'incharge_details' %}"><i class="fas fa-user-tie"></i> Total Hostel Incharges</a></h3>
                    <span>{{ total_incharges }}</span>
                </div>
            </div>
            <div class="card" style="background-color: #3498db;">
                <div class="card-header">
                    <h3><a href="{% url 'hosteller_details' %}"><i class="fas fa-user-friends"></i> Total Hostellers</a></h3>
                    <span>{{ total_hostellers }}</span>
                </div>
            </div>
            <div class="card" style="background-color: #f39c12;">
                <div class="card-header">
                    <a href="{% url 'pending_incharges' %}"><b>Pending Hostel Incharges</b></a>
                    <span><i class="fas fa-spinner "></i> {{ pending_incharges }}</span>
                </div>
            </div>
            <div class="card" style="background-color: #e74c3c;">
                <div class="card-header">
                    <a href="{% url 'pending_users' %}" ><b>Pending Hostel Admissions</b></a>
                    <span><i class="fas fa-spinner "></i> {{ pending_admissions }}</span>
                </div>
            </div>
        </div>
        <div class="notice-board">
            <h2>Notice Board</h2>
            {% if latest_notice %}
                <p>Posted on {{ latest_notice.created_at }}</p>
                <p>{{ latest_notice.content }}</p>
            {% else %}
                <p>No notices available.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
