<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaints</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'complaints_styles.css' %}">
</head>
<body>
    <h1>Complaints</h1>
    <div class="table-container">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for complaint in complaints %}
                <tr>
                    <td>{{ complaint.category }}</td>
                    <td>{{ complaint.description }}</td>
                    <td>{{ complaint.status }}</td>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
