<!-- templates/registration_pending.html -->
<!-- <p>Your registration is pending approval by the admin.</p> -->
<h1>Hello, Hosteller</h1>
<h4>your Account has not been approved yet!</h4>
<h2>our administrative team will be checking it soon..</h2>
<p>And, soon your admission will be confirmed! you'will get to acesss the system after the confirmation</p>
<h3>Thankyou ,for signup. We'll see you seen</h3>
<footer>
    <!-- <label for="check it later">check it later</label> -->
<a href="{% url 'Home_page'%}"><button type="submit" value="logout">check later</button></a>
</footer>