<html>
<head>
    <title>Password Reset</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'passwordresetstyles.css' %}">
</head>
<body>
    <div class-"bimg" >
        <img src={% static "images/lock1.jpg" %} alt="lock">
    </div>

    <form method="post">
        <h2>Reset Your Password</h2>
        {% csrf_token %}
        <input type="email" name="email" placeholder="Enter your email" required>
        <button type="submit">Reset Password</button>
    </form>
</body>
</html> 